/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* End reset CSS */

:root {
    --fc-body-pr: hsl(0, 0%, 100%);
    --bg-body-pr: hsl(25, 97%, 53%);

    --LightGrey: hsl(217, 12%, 63%)
    --DarkBlue: hsl(213, 19%, 18%)
    --VeryDarkBlue: hsl(216, 12%, 8%)
    -bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body-pr);
    color: var(--fc-body-pr);
}