/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* End reset CSS */

:root {
    --fc-body-pr: hsl(0, 0%, 100%);
    --fc-body-sc: hsl(25, 97%, 53%);
    --bg-body-pr: hsl(216, 12%, 8%);
    --bg-body-sc: hsl(213, 19%, 18%);
    --bg-body-tr: hsl(212, 20%, 29%);

    --LightGrey: hsl(217, 12%, 63%);

    -bs-font-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --bs-h2-font-size: 2.5rem;
    --bs-p-font-size: 1.5rem;
    --bs-p-interline: 1rem;

    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body-pr);
    color: var(--fc-body-pr);
    font-family: "Overpass", serif;
    font-style: normal;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    max-width: 90%;
    background-color: var(--bg-body-sc);
    margin: 5rem;
    border-radius: 5%;
}

.image-container {
    display: block;
    width: fit-content;
    border-radius: 50%;
    background-color: var(--bg-body-tr);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img {
    width: 4.5rem;
    padding: 1.5rem;
}

h2 {
    font-size: var(--bs-h2-font-size);
    margin-bottom: 1.5rem;
}

p {
    font-size: var(--bs-p-font-size);
    margin-bottom: var(--bs-p-interline);
}

form {
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: var(--fc-body-sc);
}
